
.grid {
    display: grid;
    grid-template-columns: 1fr 500px 1fr;
    grid-template-rows: 60px 500px 1fr;
}

.shulte_table {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start:2;
    grid-column-end:2;
    border: 3px solid black;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.number {
	font-family: Comic Sans MS;
	font-size: 35px;
	text-align: center;
	padding-top: 25px;
	border: 1px solid black;
}

#ad {
	grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start:3;
    grid-column-end:4;
	height: 220px;
	
}


#display {
	grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start:2;
    grid-column-end:2;
	text-align: center;
	font-size: 40px;
	font-width: bold;
	
	font-family: Comic Sans MS;
}

.GI {
	height: 40px;
	width: 130px;
	border: 2px solid white;
	border-radius: 40%;
	background-color: dark;
	font-size: 20px;
	margin-left: 6%;
	margin-top: 1%;
	cursor: pointer;
	transition: background-color 0.3s ease;
	transition: border 0.3s ease;
	
}

.GI:hover {
	
	background-color:#20b2aa;
	border: 2px solid black;
	
}

.GI:active {
	background-color: black;
}

.GA {
	height: 40px;
	width: 130px;
	border: 2px solid black;
	border-radius: 40%;
	background-color: white;
	font-size: 20px;
	margin-left: 6%;
	margin-top: 1%;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.GA:hover {

	background-color:#20b2aa;
	border: 4px solid black;

}

.GA:active {
	background-color: black;
}


.povtor {
	height: 40px;
	width: 130px;
	border: 2px solid black;
	border-radius: 40%;
	background-color: white;
	font-size: 20px;
	margin-left: 150px;
	margin-top: 2%;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.povtor:hover {

	background-color:#20b2aa;

}

.povtor:active {
	background-color: black;
}