
.grid {
    display: grid;
    grid-template-columns: 1fr 500px 500px 1fr;
    grid-template-rows: 100px 100px 100px 1fr;
}

.shulte_table {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start:2;
    grid-column-end:2;
    border: 3px solid black;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}



body {
    font-family: Arial;
	color: black;
	background-color: lightYellow;
}

.GA {
	height: 40px;
	width: 130px;
	border: 2px solid black;
	border-radius: 40%;
	background-color: #20b2aa;
	font-size: 20px;
	margin-left: 6%;
	margin-top: 1%;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.GA:hover {
	
	background-color:#20b2aa;
	
}

.GA:active {
	background-color: black;
}

.GI {
	height: 40px;
	width: 130px;
	border: 2px solid black;
	border-radius: 40%;
	background-color: white;
	font-size: 20px;
	margin-left: 65%;
	margin-top: 1%;
	cursor: pointer;
	transition: background-color 0.3s ease;
	
}

.GI:hover {
	
	background-color:#20b2aa;
	border: 4px solid black;
	
}

.GI:active {
	background-color: black;
}





.cool_paragraph {
	margin-bottom: 40px;
	text-align: center;
	font-size: 40px;
}

.info {
	text-align: center;
	margin-bottom: 50px;
}


.autorez {
	height: 60px;
	width: 200px;
	border: 1.5px solid black;
	border-radius: 15%;
	background-color: white;
	font-size: 30px;
	margin-left: 3%;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.autorez:hover {
	
	background-color:#20b2aa;
	
}

.autorez:active {
	background-color: black;
}



.knopk {
	height: 60px;
	width: 330px;
	border: 1.5px solid black;
	border-radius: 15%;
	background-color: #20b2aa;
	font-size: 38px;
	margin-left: 2%;
	color: white;
	cursor: pointer;
	transition: background-color 0.3s ease;
	
}



.knopk:hover {
	
	background-color: green;
	
}

.knopk:active {
	background-color: black;
}



.ah2 {
	text-align: center;
	grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start:2;
    grid-column-end:4;
}


.rere {
	grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start:2;
    grid-column-end:4;

	
}

.meme {
	grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start:2;
    grid-column-end:4;


}


.parag {
	text-align: center;
	padding-top: 15px;
	font-size: 20px;
}


#result {
	text-align:center;
	font-family: Arial;
	font-size: 40px;
	margin-bottom: 40px;
}

#graph {
	grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start:2;
    grid-column-end:3;
	height: 500px;
	width: 830px;

}


#bodygraph {
	background-color: white;

}



#glav {
	height: 40px;
	width: 130px;
	border: 2px solid black;
	border-radius: 40%;
	background-color: white;
	font-size: 20px;
	margin-left: 6%;
	margin-top: 1%;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

#glav:hover {
	
	background-color:#ff8c00;
	
}

#glav:active {
	background-color: black;
}

.gridos {
    display: grid;
    grid-template-columns: 420px 1fr;
    grid-template-rows: 500px 1fr;
}






#border_time {
	grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start:1;
    grid-column-end:2;
	text-align: center;
	margin-top: 150px;
	
}

.gridi {
    display: grid;
    grid-template-columns: 1fr 500px 500px 1fr;
    grid-template-rows: 100px 100px 100px 200px 1fr;
}


.reri {
	grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start:2;
    grid-column-end:4;
}


