

body {
	font-family: Arial, sans-serif;
	background: #f2f5f9;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	margin-top: 20px;
}

.controls {
	margin: 10px 0 20px;
}

.grid {
	display: grid;
	gap: 10px;
	width: 400px;
}

.cell {
	background: white;
	border-radius: 10px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 26px;
	font-weight: bold;
	cursor: pointer;
	transition: 0.2;
}

.cell.clicked {
	background: #20b2aa;
}



