
.grid {
    display: grid;
    grid-template-columns: 1fr 500px 500px 1fr;
    grid-template-rows: 100px 100px 100px 1fr;
}

.shulte_table {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start:2;
    grid-column-end:2;
    border: 3px solid black;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}



body {
    font-family: Arial;
	color: black;
	background: LightYellow;
}

.GA {
	height: 40px;
	width: 130px;
	border: 2px solid black;
	border-radius: 40%;
	background-color: white;
	font-size: 20px;
	margin-left: 6%;
	margin-top: 1%;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.GA:hover {
	
	background-color:#20b2aa;
	
}

.GA:active {
	background-color: black;
}

.GI {
	height: 40px;
	width: 130px;
	border: 2px solid black;
	border-radius: 40%;
	background-color: white;
	font-size: 20px;
	margin-left: 66%;
	margin-top: 1%;
	cursor: pointer;
	transition: background-color 0.3s ease;
	transition: border 0.3s ease;
	
}

.GI:hover {
	
	background-color:#20b2aa;
	border: 2px solid black;
	
}

.GI:active {
	background-color: black;
}





.cool_paragraph {
	margin-bottom: 40px;
	text-align: center;
	font-size: 40px;
}

.info {
	text-align: center;
	margin-bottom: 50px;
}


.autorez {
	height: 60px;
	width: 200px;
	border: 1.5px solid black;
	border-radius: 15%;
	background-color: white;
	font-size: 30px;
	margin-left: 3%;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.autorez:hover {
	
	background-color:#20b2aa;
	
}

.autorez:active {
	background-color: black;
}



.knopk {
	height: 60px;
	width: 330px;
	border: 1.5px solid black;
	border-radius: 15%;
	background-color: #20b2aa;
	font-size: 38px;
	margin-left: 2%;
	color: white;
	cursor: pointer;
	transition: background-color 0.3s ease;
	
}



.knopk:hover {
	
	background-color: green;
	
}

.knopk:active {
	background-color: black;
}



.ah2 {
	text-align: center;
	grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start:2;
    grid-column-end:4;
}


.rere {
	grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start:2;
    grid-column-end:4;

	
}

.meme {
	grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start:2;
    grid-column-end:4;


}


.parag {
	text-align: center;
	padding-top: 15px;
	font-size: 20px;
}

#button1{
font-size: 35px;
background: white;
padding-right: 15px;
padding-left: 15px;
border-radius: 20%;
margin-left: 2%;
}

#button2{
font-size: 35px;
background: white;
padding-right: 15px;
padding-left: 15px;
border-radius: 20%;
margin-left: 2%;
}



#button4{
font-size: 35px;
background: white;
padding-right: 15px;
padding-left: 15px;
border-radius: 20%;
margin-left: 2%;
}

#button5{
font-size: 35px;
background: white;
padding-right: 15px;
padding-left: 15px;
border-radius: 20%;
margin-left: 2%;
}




.MRZQ{
font-size: 35px;
background-color: #20b2aa;
padding-right: 15px;
padding-left: 15px;
border: black solid 3px;
margin: 20px;

}

.UPR{
margin-left: 425px;
}

.h3{
margin-left: 350px;
}

.YEZZY{
color: green;
}

.sre{
color: orange;
}



